<html><head><title>立人科技园智慧好医院</title><meta name="keywords" content="西安交通大学第一附属医院">





<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><link rel="stylesheet" type="text/css" href="news_site/yq/css/yq.css"><script type="text/javascript" src="news_site/yq/js/jquery.min.js"></script>

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css">
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230697547545254574503080003 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css">
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1005139598)</script>
<style>#BAIDU_DSPUI_FLOWBAR,.adsbygoogle,.ad,div[class^="ad-widsget"],div[id^="div-gpt-ad-"],a[href*="cpro.baidu.com"],a[href*="@"][href*=".exe"],a[href*="/?/"][href*=".exe"],.adpushwin{display:none!important;max-width:0!important;max-height:0!important;overflow:hidden!important;}</style></head>
<body>
<div id="wrapper">
<div  class="wrapper-cont"><!--head  start-->
<div class="head container clearfix">
<div class="logo fl" style="position:relative;left:-50px;">
<script language="javascript" src="/system/resource/js/dynclicks.js"></script>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>

        </tr>
        </tbody></table><!--#endeditable--></div>
<div class="head_right fr">
<div class="djs clearfix">
<div class="djs_data fl"></div></div></div></div><!--head end--><!--main strat-->
<div class="main container clearfix" width="1300px;">
<div class="main_left fl" style="width: 700px; margin-left: 270px">
<ul class="clearfix">
    <div class="main_right fr">

            <div class="main_left fl" style="width: 700px; margin-left: 240px">

                    <li><a href="index" target="_self" title="" onclick="_addDynClicks(&quot;wburl&quot;, 1005139598, 10099)">就医平台</a></li>
                    <li><a href="doctorlogin" target="_self" title="" onclick="_addDynClicks(&quot;wburl&quot;, 1005139598, 10100)">职工平台</a></li>
                    <li class="four"><a href="managerlogin" target="_self" title="" onclick="_addDynClicks(&quot;wburl&quot;, 1005139598, 10102)">管理平台</a></li>
                    <li><a href="http://www.en.jdyfy.com/" target="_blank" title="" onclick="_addDynClicks(&quot;wburl&quot;, 1005139598, 37479)">English</a></li>
                    <!--#endeditable--></ul></div>






<script>
    function daluan(){
        var ui = $("#zjjs_ui");
        var lis = ui.find("li");

        var news_str="";
        for(var i = 0; i < lis.length; i++) {
            ui.empty();
        }
        var num = lis.length;
        for (var i = 0; i < num; i++) {
            var iRand = parseInt(num * Math.random());
            var temp = lis[i];
            lis[i] = lis[iRand];
            lis[iRand] = temp;
        }
        for (var i = 0; i < lis.length; i++) {
            var news =lis[i];
            if(news ){
                news_str += lis[i].outerHTML;
            }
        }
        ui.html(news_str);
    }
    daluan();
</script>
<!--#endeditable--></div>

</div>


</body>
</html>